<h1>WIDGET APP</h1>

<h2>Model</h2>
<select>
	<option value="Widget">Widget</option>
	<option value="Widget_Pro">Widget Pro</option>
	<option value="Widget_Xtreme">Widget Xtreme</option>
</select>

<h2>Color</h2>
<select>
	<option value="red">RED</option>
	<option value="blue">BLUE</option>
	<option value="yellow">YELLOW</option>
</select>

<h2>Quantity</h2>
<!-- QUANTITY -->

<h2>Date Needed</h2>
<!-- DATE -->
